<footer>
    <div class='footer-container'>
        <nav class='page-footer'>
            <div class="footer-links">
                <div class='dropdown-list'>
                    <label >Quick Links</label>
                    <ul class="footer-list">
                        <li><a href="{{ url_for('contactus') }}">Contact Us</a></li>
                        <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
                    </ul>
                    
                </div>

               
                
            </div>
        </nav>
        
    </div>
</footer>