{% extends 'base.html' %}

{% block content %}
  <div class="gutter init-height disp-flex">
    <div class="container">
      <div class="heading mt-3"><h1>{{ product.name }}</h1></div>
      <div class="container product-detail-container">
        <div><img class="product-detail" src="{{ product.image_url }}" alt="{{ product.name }}"></div>
      </div>
      <div class="box">
        <div class='product-copy'>
          <h3 class='product-copy-label'>Category: </h3>
          <h5 class='ms-3'>{{ product.category }}</h5>
        </div>
        <div class='product-copy'>
          <h3 class='product-copy-label'>Price: </h3>
          <h5 class='ms-3'>$ {{ product.price }}</h5>
        </div>
        <div class='product-copy'>
          <h3 class='product-copy-label'>Description: </h3>
          <h5 class='ms-3'>{{ product.description }}</h5>
        </div>
      </div>

    </div>

    <div class="just-cen mt-3" method="POST">
      <a class="btn btn-primary" href="{{ url_for('addtocart', product_id=product.id) }}">Add to Cart</a>
    </div>
  </div>

{% endblock content %}